body {
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Arial, sans-serif;

    color: var(--texto-claro);
}

* {
    padding: 0px;
    margin: 0px;
}

:root {
    --fundo: #303030;
    --fundo-secundaria: #262421;
    --verde-chess: #739e45;
    --verde-escuro: #5d7a44;
    --texto-claro: #EEEED2;
    --branco-puro: #FFFFFF;
}

#cadastro_section {
    display: flex;
    width: 100%;
    height: calc(100vh - 80px); /*Estou usando calc para definir o tamanho da tela. 100vh(tela inteira) -80px(tamanho da nav)*/
    align-items: center;
    justify-content: center;

    background-image: url(../assets/imgs/background_cadastro.png);
    background-size: cover;
}

.card_cadastro {
    width: 500px;
    height: 650px;
    background-color: #262421c5;
    border-radius: 30px;
    border: 3px solid var(--verde-escuro);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#txt_logo {
    color: var(--texto-claro);
    font-size: 30px;
    font-weight: bold;
}

.txt_destaque {
    color: var(--verde-chess);
}

#head_cadastro img {
    width: 80px;
}

#head_cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
}

#corpo_cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
}

#ipt_email,
#ipt_senha,
#ipt_confirmar_senha,
#ipt_nome {
    height: 35px;
    width: 300px;

    border-radius: 20px;
    border: 3px solid var(--verde-escuro);
    background-color: var(--fundo);
    color: var(--branco-puro);
    font-size: 15px;
    font-weight: bold;
}

.txt_input {
    color: var(--verde-chess);
    font-size: 17px;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 5px;
}

#inputs_corpo {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#botao_logar {
    margin-top: 50px;
    height: 40px;
    width: 180px;
    border-radius: 30px;
    font-weight: bold;
    background-color: var(--fundo);
    color: var(--texto-claro);
    border: 2px solid var(--verde-chess);

    transition: 0.3s ease;
}

#botao_logar:hover {
    transform: translateY(-6px);
    color: var(--fundo);
    background-color: var(--verde-chess);
}

#cadastro_txt {
    margin-top: 30px;
}

#cadastro_txt a {
    color: var(--verde-chess);
}


#navbar {
    background-color: var(--fundo-secundaria);
    height: 80px;
    width: 100%;
}

.nav_content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.nav_links {
    display: flex;
    justify-content: space-around;
    width: 40%;
    color: var(--verde-chess);
    font-size: large;
}

.nav_links a {
    text-decoration: none;
    color: inherit;
}

#nav_logo img {
    width: 100px;
}

#nav_logo {
    display: flex;
    align-items: center;
}

#txt_logo {
    color: var(--texto-claro);
    font-size: 30px;
    font-weight: bold;
}