body {
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: var(--fundo);
    color: var(--texto-claro);
}

* {
    padding: 0px;
    margin: 0px;
}

:root {
    --fundo: #303030;
    --fundo-secundaria: #262421;
    --verde-chess: #739e45;
    --verde-escuro: #5d7a44;
    --texto-claro: #EEEED2;
    --branco-puro: #FFFFFF;
}

#login_section{
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.card_login{
    width: 500px;
    height: 600px;
    background-color: var(--fundo-secundaria);
    border-radius: 30px;
    border: 3px solid var(--verde-escuro);
}

#txt_logo{
    color: var(--texto-claro);
    font-size: 30px;
    font-weight: bold;
}

.txt_destaque {
    color: var(--verde-chess);
}

#head_login img {
    width: 100px;
}

#head_login{
    display: flex;
    align-items: center;
    justify-content: center;
}

#corpo_login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 460px;
}

#ipt_email, #ipt_senha{
    height: 35px;
    width: 300px;
    border-radius: 20px;
    border: 3px solid var(--verde-escuro);
    background-color: var(--fundo);
    color: var(--branco-puro);
    font-size: 15px;
    font-weight: bold;
}

.txt_input{
    color: var(--verde-chess);
    font-size: 17px;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 5px;
}

#inputs_corpo{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#botao_logar{
    margin-top: 100px;
    height: 40px;
    width: 180px;
    border-radius: 30px;
    font-weight: bold;
    background-color: var(--fundo);
    color: var(--texto-claro);
    border: 2px solid var(--verde-chess);

    transition: 0.3s ease;
}

#botao_logar:hover{
    transform: translateY(-6px);
    color: var(--fundo);
    background-color: var(--verde-chess);
}