body {
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Arial, sans-serif;

    background-color: var(--fundo);
    color: var(--texto-claro);
}

* {
    padding: 0px;
    margin: 0px;
}

:root {
    --fundo: #303030;
    --fundo-secundaria: #262421;
    --verde-chess: #739e45;
    --verde-escuro: #5d7a44;
    --texto-claro: #EEEED2;
    --branco-puro: #FFFFFF;
}


/* nav */
#navbar {
    background-color: var(--fundo-secundaria);
    height: 80px;
    width: 100%;
}

.nav_content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.nav_links {
    display: flex;
    justify-content: space-around;
    width: 40%;
    color: var(--verde-chess);
    font-size: large;
}

.nav_links a {
    text-decoration: none;
    color: inherit;
}

#nav_logo img {
    width: 100px;
}

#nav_logo {
    display: flex;
    align-items: center;
}

#txt_logo {
    color: var(--texto-claro);
    font-size: 30px;
    font-weight: bold;
}

#perfil_section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#head_perfil{
    display: flex;
    justify-content: space-between;
    width: 95%;
    height: 200px;
    border-bottom: 2px solid var(--verde-chess);
}

#info_usuario{
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: space-around;
}

#foto_perfil{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

#info_txt{
    margin-right: 150px;
}

#nivel_usuario{
    background-color: var(--verde-escuro);
    color: var(--fundo);
    border-radius: 5px;
    font-size: 20px;
}

#btn_deslogar{
    background-color: var(--fundo);
    border: 3px solid var(--verde-chess);
    border-radius: 20px;
    color: var(--verde-chess);
    font-weight: bold;
    width: 100px;
    height: 40px;
    align-self: flex-end;
    margin-bottom: 20px;

    transition: 0.3s ease;
}

#btn_deslogar:hover{
    color: var(--fundo);
    background-color: var(--verde-chess);

    transform: translateY(-5px);
}