body {
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: var(--fundo);
    color: var(--texto-claro);
}

* {
    padding: 0px;
    margin: 0px;
}

:root {
    --fundo: #303030;
    --fundo-secundaria: #262421;
    --verde-chess: #739e45;
    --verde-escuro: #5d7a44;
    --texto-claro: #EEEED2;
    --branco-puro: #FFFFFF;
}

#navbar {
    background-color: var(--fundo-secundaria);
    height: 80px;
    width: 100%;
}

.nav_content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.nav_links {
    display: flex;
    justify-content: space-around;
    width: 30%;
    color: var(--verde-chess);
    font-size: large;
}

.nav_links a {
    text-decoration: none;
    color: inherit;
}

#nav_logo img {
    width: 100px;
}

#nav_logo{
    display: flex;
    align-items: center;
}

#txt_logo{
    color: var(--texto-claro);
    font-size: 30px;
    font-weight: bold;
}

/* Banner */
#banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/imgs/fundoQuadriculado.png);
    height: 900px;
    background-size: cover;
}


#img_banner {
    width: 70%;
    z-index: 2;
}

.img_banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner_destaque_txt {
    color: var(--texto-claro);
    font-size: 170px;
    flex-wrap: wrap;
    font-weight: bolder;

    position: absolute;
    width: 90%;
    text-align: center;
    z-index: 1;
}

.txt_destaque {
    color: var(--verde-chess);
}

#txt_banner_principal {
    z-index: 2;
}

#txt_banner_borda_destaque {
    color: transparent;
    -webkit-text-stroke: 4px var(--verde-chess);
    z-index: 3;
}

#txt_banner_borda {
    color: transparent;
    -webkit-text-stroke: 4px var(--texto-claro);
    z-index: 3;
}

.borda {
    font-size: 170px;
    flex-wrap: wrap;
    font-weight: bolder;

    position: absolute;
    width: 90%;
    text-align: center;
    z-index: 3;
}

/* Animacao do rei do banner */
@keyframes flutuar {

    0%,
    100% {
        transform: translateY(-30px) rotate(1deg);
    }

    50% {
        transform: translateY(30px) rotate(-30deg);
    }
}

.flutuacao {
    animation: flutuar 5s ease-in-out infinite;
}

/*colocar esse nome "flutuacao" nos elementos que eu queira que tenha essa animação */

/*Seção O que é o xadrez */
#oQueE{
    margin-top: 50px;
    display: flex;

    justify-content: center;
    width: 100%;
    height: 100%;
}

.txt_oqueE{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 70%;
    height: 100%;
}

.titulo_destaque_p {
    color: var(--verde-chess);
    font-size: 40px;
    font-weight: bolder;
}

#img_oqueE img{
    width: 400px;
    height: 500px;
    border-radius: 60px;
    padding-right: 20px;
}

.txt_desc_p{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 20px;
}

/* Seção da frase */
#section_frase{
    height: 670px;
    background-image: url(../assets/imgs/fundo_frase.png);
    background-size: cover;
    
    border: 3px solid var(--verde-chess);
    display: flex;
    align-items: center;
    justify-content: center;
}

#card_frase{
    width: 70%;
    height: 310px;
    background-color: var(--fundo);
    border-radius: 30px;
    border: 2px solid var(--verde-escuro);
    display: flex;
    padding: 0px 20px;
    justify-content: space-between;
}

#imgFrase{
    display: flex;
}

#imgFrase img{
    height: 400px;
    align-self: flex-end;
}

.txt_frase{
    width: 60%;
    align-self: center;
}

/* Seção - por que jogar? */
#porQue{
    margin-top: 50px;
    width: 100%;
    height: 700px;

    background-color: var(--fundo-secundaria);
}

#porQue_content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

#cards_porQue{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.card_porQue{
    height: 400px;
    width: 20%;
    background-color: var(--fundo);
    margin: 10px;
    border-radius: 20px;
    border: 3px dashed var(--verde-escuro);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_porQue:hover{
    transform: translateY(-15px);
    transition: 0.5s ease;
}

.card_head{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: -50px;
    text-align: center;
}

.card_head img{
    width: 80px;
    background-color: var(--verde-escuro);
    border-radius: 100%;
}

.card_porQue p{
    font-size: 20px;
    width: 90%;
    text-align: center;
}