body {
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: var(--fundo);
    color: var(--texto-claro);
}

* {
    padding: 0px;
    margin: 0px;
}

:root {
    --fundo: #303030;
    --card: #262421;
    --verde-chess: #739e45;
    --verde-hover: #5d7a44;
    --texto-claro: #EEEED2;
    --branco-puro: #FFFFFF;
}

#navbar {
    background-color: var(--card);
    height: 80px;
    width: 100%;
}

.nav_content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.nav_links {
    display: flex;
    justify-content: space-around;
    width: 30%;
    color: var(--verde-chess);
    font-size: large;
}

.nav_links a {
    text-decoration: none;
    color: inherit;
}

/* .nav_botao{
    display: flex;
    width: 15%;
    justify-content: space-between;
    margin: 50px;
}

.botao{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--verde-hover);
    color:var(--texto-claro) ;
    border-radius: 10px;
    width: 70px;
    height: 30px;
} */


#nav_logo img {
    width: 10%;
}

/* Banner */
#banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/imgs/fundoQuadriculado.png);
    height: 100vh;
    background-size: cover;
}


#img_banner {
    width: 70%;
    z-index: 2;
}

.img_banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner_destaque_txt {
    color: var(--texto-claro);
    font-size: 170px;
    flex-wrap: wrap;
    font-weight: bolder;

    position: absolute;
    width: 90%;
    text-align: center;
    z-index: 1;
}

.txt_destaque {
    color: var(--verde-chess);
}

#txt_banner_principal {
    z-index: 2;
}

#txt_banner_borda_destaque {
    color: transparent;
    -webkit-text-stroke: 4px var(--verde-chess);
    z-index: 3;
}

#txt_banner_borda {
    color: transparent;
    -webkit-text-stroke: 4px var(--texto-claro);
    z-index: 3;
}

.borda {
    font-size: 170px;
    flex-wrap: wrap;
    font-weight: bolder;

    position: absolute;
    width: 90%;
    text-align: center;
    z-index: 3;
}

/* Animacao do rei do banner */
@keyframes flutuar {

    0%,
    100% {
        transform: translateY(-30px) rotate(1deg);
    }

    50% {
        transform: translateY(30px) rotate(-30deg);
    }
}

.flutuacao {
    animation: flutuar 5s ease-in-out infinite;
}

/*colocar esse nome "flutuacao" nos elementos que eu queira que tenha essa animação */

/*Seção O que é o xadrez */
#oQueE{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.txt_oqueE{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 70%;
    height: 100%;
}

.titulo_destaque_p {
    color: var(--verde-chess);
    font-size: 40px;
    font-weight: bolder;
}

#img_oqueE img{
    width: 400px;
    height: 500px;
    border-radius: 50px;
    padding-right: 20px;
}

.txt_desc_p{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 20px;
}